.jumbotron {
	background-color: #007FFF;
}

.jumbotron h1 {
	color: white;
}

.jumbotron p {
	color: white;
}

.btn-primary {
    color: #080808;
    background-color: #FFFFFF;
    border-color: #000000;
}